body {
    background-color: darksalmon;
    background-image: url('../images/bg-1.gif');
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-align: center;
    animation: rotateBgImage 24s infinite;
}

button, img {
    cursor: pointer;
}

button, input {
    font-size: 100%;
}

button:hover,
button:active,
button:focus {
    background-color: black;
    color: white;
}

header, footer {
    background: rgba(255,255,255,0.75);
    border-radius: 30px;
    margin: 40px;
    padding: 20px;
}

footer {
    clear: left;
}

.topic-item-button {
    border-radius: 5px;
    border: thin solid #222;
    margin: 10px 5px;
    padding: 5px 10px;
}


.topic-result-item {
    overflow: hidden;
    position: relative;
    animation: fadeIn 2s;
}

.topic-result-image {
    box-sizing: border-box;
    display: block;
    border: thin solid #222;
}

.topic-result-item > figcaption {
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 0px 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity 1s, top 0.5s;
}

#new-topic-item-input {
    border: thin solid #222;
    border-radius: 5px 0px 0px 5px;
    padding: 5px 10px;
    border-right-width: 0px;
}

#new-topic-item-submit-button {
    border: thin solid #222;
    border-radius: 0px 5px 5px 0px;
    padding: 5px 10px;
}

#topic-result-images {
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotateBgImage {
    25% {
        background-image: url('../images/bg-1.gif');
    }
    50% {
        background-image: url('../images/bg-2.jpg');
    }
    75% {
        background-image: url('../images/bg-3.png');
    }
    100% {
        background-image: url('../images/bg-4.jpg');
    }
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {
    .topic-result-image {
        width: 100%;
    }
}